<div class="container">
<h1>Editing Profile</h1>

<%= render 'form' %>
</div>

<div class="container">
<%= link_to 'View', @profile, class: "btn btn-default" %>
<%= link_to 'Back to Profile', profiles_path, class: "btn btn-default" %>
</div>