<div class="container clearfix">
	<h1>Change Shop</h1>

	<%= render 'form' %>

	<div class="post-clear">
	<%= link_to 'View', @shop, class: "btn btn-default" %>
	<%= link_to 'Back', shops_path, class: "btn btn-default" %>
	</div>
</div>