<div class="container fav-recipe-page">
  <h1><%= current_user.profile.first_name %>'s Favourite Recipes | <span class="number_of_favs"><%= current_user.user_favourite_recipes.count %> Results</span></h1>

      <%= render partial: 'user_favourite_recipes', object: @user_favourite_recipes %>
</div>
