<div class="container">
<h1><%= current_user.profile.first_name %>'s Favourite Recipes</h1>

    <% @user_favourite_recipes.each do |user_favourite_recipe| %>
      <div class="row well">
        <div class="col-md-8">
          <%= render 'view_user_favourite_recipe_summary', user_favourite_recipe: user_favourite_recipe %>
        </div>
        <div class="col-md-4">
          <%= render 'view_user_favourite_recipe', user_favourite_recipe: user_favourite_recipe %>
          <%= render 'change_user_favourite_recipe', user_favourite_recipe: user_favourite_recipe %>
        </div>
      </div>
    <% end %>
</div>
