<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_favourite_recipe.user.email %>
</p>

<%= render 'recipes/full_recipe_display', recipe: @user_favourite_recipe.recipe %>

<%= link_to 'Back', user_favourite_recipes_path %>
