<p>
  <strong>Done:</strong>
  <%= @shopping_list_item.done %>
</p>

<p>
  <strong>Shopping list:</strong>
  <%= @shopping_list_item.shopping_list %>
</p>


<%= link_to 'Edit', edit_shopping_list_item_path(@shopping_list_item) %> |
<%= link_to 'Back', shopping_list_items_path %>
