<td><%= link_to 'Make Shopping List', "/make_shopping_list/#{recipe.id}" %></td>
<% if current_user.has_favourite_recipe?(recipe.id) then %>
	<td><%= link_to '-', "remove_from_favourites/#{recipe.id}" %></td>
<% else %>
	<td><%= link_to '+', "add_to_favourites/#{recipe.id}" %></td>
<% end %>