<table class="table">
		<tr>
			<th>Month</th>
			<th>Available Ingredients</th>
		</tr>
	

	<% @availabilities.each do |availability| %>
		<tr>
			<td><%= availability.month.name %></td>
			<td><%= availability.ingredient.name %></td>
		</tr>
		
	<% end %>

</table>