




<!-- Header -->
<div class="intro-header ">
	<div class="intro-header-black">
	    <div class="container">

		    <div class="intro-message">
		        <h1>Farm/Shop/Table</h1>
		        <form>
		        	<div class="form-group">
		        		<div class="col-md-6 col-md-offset-3">
		        			<input type="text" class="form-control input-lg search" placeholder="Search for Recipes...">
		        		</div>
		        		
		        	</div>
		        	
		        </form>
		    </div>

	    </div>
	</div>


</div>

<!-- Page Content -->

<div class="section-half">
	<div class="container-fluid">
		<div class="row">
			<ul>
				<li class="col-md-4 intro-descriptions">
					<h5>Find Out What's In Season</h3>
				</li>
				<li class="col-md-4 intro-descriptions">
					<h5>Shop for Local Ingredients</h3>
				</li>
				<li class="col-md-4 intro-descriptions">
					<h5>Prepare Recipes from Around the Globe</h3>
				</li>
			</ul>
		</div>

	</div>
	
</div>





