<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="#">Farm/Shop/Table</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#services">About</a>
                </li>
                <li>
                    <a href="#contact">Sign Up</a>
                </li>

                <li>
                    <a href="#contact">Log In</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<!-- Header -->
<a name="about"></a>
<div class="intro-header ">
	<div class="intro-header-black">
		    <div class="container">

			    <div class="intro-message">
			        <h1>Farm/Shop/Table</h1>
			        <form>
			        	<input type="text">
			        </form>
			    </div>


		    </div>
	</div>

    <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->



