




<!-- Header -->
<div class="intro-header ">
	<div class="intro-header-black">


		    <div class="intro-message">
		    	
		    		<div class="col-xs-12 col-md-5">
		    			<h1>Food is better <br> with friends.</h1>
		    		</div>

		    		<div class="col-xs-12 col-md-6">
			 		        <%= form_tag 'recipes', method: :get, :class => 'home-search'  do %>
        			
									<%= text_field_tag 'search_by_all', nil, placeholder: "Enter an Ingredient...", class: "form-control input-lg home-text-input" %>
	
					        			<%= submit_tag 'Search' , class: "btn btn-default" %>
		
									
					      	<% end %>
		    		</div>

		    


		</div>
	</div>
</div>

<!-- Page Content -->

<div class="section-half">
	<div class="container-fluid">
		<div class="row">
			<ul>
				<li class="col-md-4 col-sm-4 intro-descriptions">
					<h4>Set Your Preferences</h4>

					<p>Everyone has their own unique diet and meal preferences. Document your allergies, diets, and even specific ingredients you don't eat. </p>
				</li>
				<li class="col-md-4 col-sm-4 intro-descriptions">
					<h4>Learn from Others</h4>
					<p>Search for friends, find out what they can and can't eat, and what recipes they enjoy. Follow other users with similar dietary preferences to disover their favourite meals.</p>
				</li>
				<li class="col-md-4 col-sm-4 intro-descriptions">
					<h4>Create a Menu for Everyone</h4>
					<p>Powered by Yummly, Picknic enables you to search for recipes from thousands of websites. Browse, save your favourite recipes and create shopping lists.</p>
				</li>
			</ul>
		</div>

	</div>
	
</div>

<footer>
	<p>Made with <i class="fa fa-heart"></i> by <a href="https://github.com/jennaleeb">Jenna Blumenthal</a></p>
</footer>





