<div class="container">
<h1>Editing Dietary Preference</h1>

<%= render 'form' %>
</div>

<div class="container">
<%= link_to 'View', @dietary_preference %> |
<%= link_to 'Back to Dietary Preferences', dietary_preferences_path %>
</div>