<div class="container">

  <%= render 'form' %>

  <div class="col-md-4">
    <table class="table">

      <% @excluded_ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.name %></td>
        <td><%= link_to '', "remove_excluded_ingredient/#{ingredient.id}", class: "glyphicon glyphicon-remove" %></td>
      </tr>
      <% end %>

    </table>

  </div>
</div>

