<div class="container-fluid">
<h1>Listing Shopping Lists</h1>
</div>

<div class="container-fluid">
<table class="table">
  <thead>
    <tr>
      <th>Name</td>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shopping_lists.each do |shopping_list| %>
      <tr>
        <td><%= shopping_list.name %></td>
        <%= render 'view_shopping_list', shopping_list: shopping_list %>
        <%= render 'change_shopping_list', shopping_list: shopping_list %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
