<div class="container">
<h1>Shopping List</h1>
</div>

<div class="container">
    <% @shopping_lists.each do |shopping_list| %>
        <div class="row well">
          <div class="col-md-8 col-sm-12">
            <p><%= shopping_list.name %></p>
            <%= render 'view_shopping_list', shopping_list: shopping_list %>
            <%= render 'change_shopping_list', shopping_list: shopping_list %>
          </div>
      </div>
    <% end %>
</div>