
<div class="recipe-card">
	<div class="shopping-list-image">
		<h1><i class="fa fa-list-ol"></i><%= @shopping_list.name %></h1>
		<%= link_to image_tag(@shopping_list.find_recipe_thumbnail.sub("=s90", "=s500"), :alt => ""), 
		  "http://www.yummly.com/recipe/#{@shopping_list.yummly_id}" %>

	</div>

	

	<table class="table">
		<% @shopping_list.shopping_list_items.each do |shopping_list_item| %>
			<tr>
				<td>
					<% if shopping_list_item.done %>
						<span class="shopping-list-item-done">
					<% else %>
						<span class="shopping-list-item">
					<% end %>

						<%= shopping_list_item.ingredient_name %>
					</span>

				</td>

				<td>
					<span class="check-item-done"><%= link_to '<i class="fa fa-check"></i>'.html_safe, "mark_shopping_list_item_done/#{shopping_list_item.id}" %></span>
				</td>

			</tr>
		<% end %>

	</table>
	

</div>



