<div class="container">
<h1><%= current_user.profile.first_name %>'s Favourite Shops</h1>

    <% @user_favourite_shops.each do |user_favourite_shop| %>
      <div class="row">
        <div class="col-md-8">
          <%= render 'shops/view_shop_summary', shop: user_favourite_shop.shop %>
        </div>
        <div class="col-md-4">
          <%= render 'view_user_favourite_shop', user_favourite_shop: user_favourite_shop %>
          <%= render 'change_user_favourite_shop', user_favourite_shop: user_favourite_shop %>
        </div>
      </div>
    <% end %>
</div>
