<div class="container">
<p>
	<%= render 'shops/view_shop_details', shop: @user_favourite_shop.shop %>
</p>

<%= link_to 'Back to Favourite Shops', user_favourite_shops_path, class: "btn btn-default" %>
</div>