<div class="container">
<h1>
  <% if current_user.admin_user? then %>
    Change Diet Definition
  <% else %>
    Diet Reference
  <% end %>
</h1>

    <% @diets.each do |diet| %>
      <div class="row">
        <div class="well col-md-10 col-sm-12">
          <div class="col-md-7 col-sm-12">
            <p><%= diet.name %><p>
          </div>
          <div class="col-md-3 col-sm-12">
          <%= render 'view_diet', diet: diet %>
          <% if current_user.admin_user? then %>
            <%= render 'change_diet', diet: diet %>
          <% end %>
          </div>
        </div>
      </div>
    <% end %>

<% if current_user.admin_user? then %>
  <%= link_to 'New Diet', new_diet_path, class: 'btn btn-primary' %>
<% end %>
</div>