<div class="container">
<h1>Diet</h1>
<p>
  <strong>Name:</strong>
  <%= @diet.name %>
</p>

<p>
	<strong>Ingredient Types:</strong>
	<ul>
	<% @diet.ingredient_types.each do |ingredient_type| %>
		<li><%= ingredient_type.name %></li>
	<% end %>
	</ul>
</p>

<%= link_to 'Change', edit_diet_path(@diet), class: 'btn btn-default' %> 
<%= link_to 'Back to Diet Definitions', diets_path, class: 'btn btn-default' %>
</div>