.fav-recipe-page {
	width: 100%;
	margin: 0 auto;


	h1 {
		font-size: 1.1em;
		margin-top: 2em;
		margin-bottom: 1em;
		text-align: center;
	}

}
	

.number_of_favs {
	color: #777;
}

.recipe-well {

	.action-button.btn {
		padding: 4px 10px;
		display: inline-block;
		margin-bottom: 10px;
	}

	:nth-child(3).action-button {
		margin-left: 10px;
	}
}


@media (min-width: 800px) {
	.fav-recipe-page {
		width: 75%;
	}
}

@media (min-width: 1090px) {

	.fav-recipe-page {
		width: 100%;
	}
	
	
}



