.fav-recipe-page {
	width: 75%;


	h1 {
		font-size: 1.1em;
		margin-top: 2em;
		margin-bottom: 1em;
		text-align: center;
	}

}
	

.number_of_favs {
	color: #777;
}

.recipe-well {

	.action-button.btn {
		padding: 4px 10px;
		display: inline-block;
		margin-bottom: 10px;
	}

	:nth-child(3).action-button {
		margin-left: 10px;
	}
}

