.finder {
	text-align: center;
	font-size: 3em;
	color: grey;
}

.search-section {
	margin-top: 6em;
	margin-bottom: 6em;
	text-align: center;
}

button a {
	color: white;

}

button a:hover {
	text-decoration: none;
	color: white;
}