.finder {
	text-align: center;
	font-size: 2em;
}

.search-section {
	margin-top: 4em;
	margin-bottom: 8em;
	text-align: center;
}

button a {
	color: white;

}

button a:hover {
	text-decoration: none;
	color: white;
}

.ingredient-avail-selector {
	width: 15%;
	display: inline-block;
	position: relative;
	font-size: 1em;
	height: 2em;
}

.save-pref-button {
	margin-top: 3em;
	margin-left: -12em;
}