.logo {
	display: inline-block;
	padding: 0.8em 1em 0.9em 1em;
	background-color: rgba(140, 199, 39, 0.46);

	p {
		margin: 0;
		padding: 0;
		color: white;
		line-height: 0.4em;
		font-size: 1.6em;
	}
}