

.topnav {
    font-size: 14px; 
}

.lead {
    font-size: 14px;
    font-weight: 400;
}

.intro-header {
    height: 100%;

    color: #f8f8f8;
    background: image-url("cuttingboard_2etc.jpg") no-repeat center center;
    background-size: cover;

}

.intro-header-black{
    background-color: rgba(1,1,1,0);
    height: 100%;
}

.intro-message {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;

    h1 {
        display: inline-block;
        font-family: 'Amatic SC', 'Open Sans', sans-serif;
        font-size: 4.8em;
        top: 2em;
        margin-top: 10px;
        margin-bottom: 10px;
        position: relative;
        color: wheat;
        left: 23px;

    }


    .btn {
        background-color: #f39b5c;
        border: none;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 6px;
        font-size: 1.3em;
    }
}

.home-search {
    top: 15em;
    position: relative;
}

.home-text-input {
    width: 75%;
    display: inline-block;
}

.section-half ul {
    list-style: none;
    margin-left: -5em;
}

li:nth-child(3).intro-descriptions {
    border-right: none;
}

.intro-descriptions {
    margin-top: 2em;
    margin-bottom: 2em;
    height: 10em;
    border-right: 1px solid lightgrey;
    text-align: center;

    h4 {
        font-family: 'Amatic SC', 'Open Sans', sans-serif;
        color: #5e5e5e;
        font-size: 2em;
    }
    

    p {
        margin-left: 2em;
        margin-right: 2em;
        font-family: 'Open Sans';
    }


}

.navbar-brand {
    font-weight: bold;
    font-family: 'Amatic SC';
    font-size: 2em;

}

.view-margin {
    margin-top: 45px;
}

footer {
    height: 4em;
    background-color: #5e5e5e;
    position: relative;

    a:link, a:hover, a:visited, a:active {
        color: white;
        text-decoration: none;
    }

    p {
        color: white;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        position: absolute;
        right: 3%;
        top: 15%;
    }

    .heart {
        color: rgb(236, 83, 109);
    }

}

