// Place all the styles related to the ingredients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

*, *:before, *:after {box-sizing:  border-box !important;}


.row {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em; 
  
}

.item {
 display: inline-block;
 padding:  .25rem;
 width:  100%; 


}

.well {
 position:relative;
 display: block;
 min-height: 20em;
 	img {
 		width: 100%;
 	}


}

button a {
	color: white;

}

button a:hover {
	text-decoration: none;
	color: white;
}

.form-control-inline {
    min-width: 0;
    width: auto;
    display: inline;
}