
.profile-parent {
	position: relative;
}
.profile-card {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	border: 1px #e7e7e7 solid;
	margin-top: 4em;
	height: 40em;
}

.profile-header {
	height: 6em;

	background-image: repeating-linear-gradient(45deg, transparent 5px, rgba(200, 0, 0, 0.13) 5px, rgba(200, 0, 0, 0.13) 10px, rgba(200, 0, 0, 0.26) 10px, rgba(211, 119, 111, 0) 10px, rgba(211, 119, 111, 0) 35px, rgba(211, 119, 111, 0.14) 35px, rgba(211, 119, 111, 0.5) 40px, rgba(200, 0, 0, 0.17) 40px, rgba(200, 0, 0, 0.08) 50px, rgba(11, 36, 45, 0) 50px, rgba(11, 36, 45, 0) 60px, rgba(211, 119, 111, 0.19) 60px, rgba(211, 119, 111, 0.09) 70px, rgba(211, 119, 111, 0.11) 90px, rgba(211, 119, 111, 0.19) 110px, rgba(211, 119, 111, 0) 110px, rgba(211, 119, 111, 0) 120px, rgba(200, 0, 0, 0.11) 120px, rgba(200, 0, 0, 0.1) 140px), repeating-linear-gradient(135deg, transparent 5px, rgba(200, 0, 0, 0.11) 5px, rgba(200, 0, 0, 0.09) 10px, rgba(211, 119, 111, 0) 10px, rgba(211, 119, 111, 0) 35px, rgba(211, 119, 111, 0.11) 35px, rgba(211, 119, 111, 0.07) 40px, rgba(200, 0, 0, 0.09) 40px, rgba(200, 0, 0, 0.11) 50px, rgba(11, 36, 45, 0) 50px, rgba(11, 36, 45, 0) 60px, rgba(211, 119, 111, 0.12) 60px, rgba(211, 119, 111, 0.08) 60px, rgba(211, 119, 111, 0.09) 70px, rgba(211, 119, 111, 0.13) 90px, rgba(211, 119, 111, 0.11) 110px, rgba(211, 119, 111, 0) 110px, rgba(211, 119, 111, 0) 140px, rgba(200, 0, 0, 0.09) 140px, rgba(200, 0, 0, 0.1) 160px);

	.profile-info h1 {
		top: -4.8em;
		position: relative;
		left: 6.5em;
		color: #5e5e5e;
		font-family: 'Amatic SC';
		font-size: 2em

	}

	.profile-info p {
		position: relative;
		top: -10.3em;
		left: 13em;
		display: inline-block;
		padding-right: 0.6em;
	}
}

.profile-picture {
	position: relative;
	height: 10em;
	width: 10em;
	top: 1em;
	left: 2em;

}

.profile-nav {
	position: relative;
	top: 6em;

	table tr td {
		padding: 5px;
	}

	table tr td:last-child {
		border-bottom: 1px solid #ddd;
	}

	.glyphicon {
		margin-right: 5px;
	}
}

.profile-main-content {
	margin-top: 2em;

	h3 {
		font-size: 1.4em;
		font-variant: small-caps;
	}

	.table.dietary-prefs {
		td {
			border-top: none !important;
		}
		.col1 {
			padding: 0 0 3em 0;
			width: 100px;
			

			h3 {
				margin: 0;
				border-bottom: 1px solid #ddd;
			}
		}

		ul {

			li {
				line-height: 1em;
			}
		}
	}
}

@media (max-width: 1200px) {

	.profile-nav td {
		text-align: right;
	}

}

@media (max-width: 768px) {
	.profile-nav td {
		text-align: left;
	}

	.profile-main-content {
		margin-top: 6em;
	}
}