.recipe-search {
	.col-md-2, {
		padding-left: 0px;
		padding-right: 7px;
	}

	position: relative;
}

.recipe-filter {
	border: 2.5px solid rgb(183, 228, 183);
	border-radius: 0;
	font-size: 1.2em;
	height: 40px;
	margin-bottom: 0.5em;
}

@media (min-width: 1000px) {
	#keyword-search {
		width: 22vw;
	}
}

#search-button {
	padding-left: 1em;
	padding-right: 1em;
	padding-top: .1em;
	padding-bottom: .1em;
	border-radius: 0px;
	background-color: rgba(243,155,92,0.7);
	border: 0px;
	color: #5e5e5e;
	font-size: 1.8em;
	font-family: 'Amatic SC'
}

/*Styles for Recipe Tiles*/

.recipe-tile-row {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em; 
  
}

.recipe-item {
 display: inline-block;
 padding:  .25rem;
 width:  100%; 



}

.recipe-well {
 position:relative;
 padding: 0;
 display: block;
 min-height: 20em;
 	img {
 		width: 100%;
 		height: 75%;

 	}

 	h3, p, {
 		padding-left: 10px;
 	}

 	h3 {
 		font-size: 1.3em;
 	}

 	p {
 		line-height: 0.8em;
 		font-size: 1em;
 	}


}

.recipe-icons {
	float: right;
	margin-right: 3px;
	right: 1px;
	position: absolute;
	bottom: 1px;

	a:link {
		color: rgba(1,1,1,0.2);	
	}

	a:hover {
		color: rgba(1,1,1,0.5);	
		text-decoration: none;
	}

	a:visited {
		color: blue;
	}

}

.warning {
	background-color: rgba(250, 128, 114, 0.6);
	height: 3em;
	width: 100%;
	margin-top: 1em;

	p {
		padding: 1em;
		color: white;
		text-align: center;
	}
}

