<td><%= link_to 'Change', edit_recipe_ingredient_quantity_path(recipe_ingredient_quantity) %></td>
<td><%= link_to 'Delete', recipe_ingredient_quantity, method: :delete, data: { confirm: 'Are you sure?' } %></td>